.container {
  margin-top: 80px;
}

#piano{
  width:50%;
  height:300px;
  margin:auto;
  border-radius:20px 20px 0 0;
  overflow:hidden;
  background: -webkit-linear-gradient(#111, #444);
  background: -o-linear-gradient(#222, #444);
  background: -moz-linear-gradient(#222, #444);
  background: linear-gradient(#1e1d1d, #000);
}
.light{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#ff7700;
  float:left;
  margin-right:10px;
  margin-top:25px;
}
.text{
  float:left;
  width:10%;
}
.text h1{
  font-family:metropolis;
  font-size:38px;
  color:#eee;
  line-height:60px;
}
#piano-container {
  width:95%;
  height:230px;
  background:#fff;
  margin:60px auto 0 auto;
}
#piano-container li {
  width:12.50%;
  height:100%;
  float:left;
  list-style-type:none;
  position:relative;
}
.white {
  width:100%;
  height:100%;
  float:left;
  box-shadow:0 1px 1px rgba(0, 0, 0, .5);
  position:relative;
  z-index:1;
  background:#f5f5f5;
  transition:all .07s;
}
.playing {
  box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
  -webkit-box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
  -moz-box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
  -ms-box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
  transform:scale(1.0);
  background-color: #7474BF;
}

.black {
  position:absolute;
  z-index:2;
  width:70%;
  height:120px;
  background:#000;
  right:-35%;
  box-shadow: 1px 0 #111, 0 2px 0 #111, 0 3px 0 #333, 0 4px 0 #333, 0 5px 0 #333, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 1px 0 #777, 0 2px 0 #777, 0 3px 0 #666, 0 4px 0 #555, 0 5px 0 #444, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  -moz-box-shadow: 1px 0 #333, 0 2px 0 #555, 0 3px 0 #555, 0 4px 0 #666, 0 5px 0 #777, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  -ms-box-shadow: 1px 0 #333, 0 2px 0 #555, 0 3px 0 #555, 0 4px 0 #666, 0 5px 0 #777, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

html {
  background: #7474BF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
  color: white;
  text-shadow: 1px 1px 1px;
  text-align: center;
  font-size: 80px;
  font-family: Adam, Arial;
}

.note {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: auto;
  bottom: 0;
}

@font-face {
  font-family: Adam;
  src: url('Adam.otf');
}

.centered {
  margin-top: 100px;
}

p {
  position: absolute;
  bottom: 0;
  left: 40px;
  font-size: 30px;
  font-family: Adam, Arial;
}