h1 {
  font-family: GilroyBold;
  font-size: 6vmax;
}

h2 {
  font-family: AdamCG;
  font-size: 1.5em;
}

a {
  font-size: 23px;
  color: white;
  font-family: AdamCG;
}

a:hover, a:visited  {
  color: black;
}

/* Card View Settings */

.bottom {
  margin-bottom: 20px;
}

.card-title, .card-text {
  color: black;
}

.btn-main {
  color: #fff;
  background-color: #46aef7;
  border-color: #30c7ec;
}

.card-img-top {
  max-width: 100%; !important;
  height: auto; !important;
  display:block; !important;
}

/* Custom fonts */
@font-face {
  font-family: AdamCG;
  src: url('adam.cg_pro-webfont.woff2');
}

@font-face {
  font-family: GilroyBold;
  src: url('Gilroy-ExtraBold.otf');
}

body {
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);

  color: white;
}
